DOMAIN=
# DOMAIN=local.dockertoolbox.tiangolo.com
# DOMAIN=localhost.tiangolo.com
# DOMAIN=dev.openpdf.com

STACK_NAME=
SERVER_HOST=

DOCKER_IMAGE_BACKEND=
DOCKER_IMAGE_FRONTEND=

# Backend
BACKEND_CORS_ORIGINS=
PROJECT_NAME=
SECRET_KEY=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=
GOOGLE_CLIENT_ID=

# Openai
OPENAI_API_KEY=
OPENAI_ORGANIZATION=

# Qdrant
COLLECTION_NAME=
COLLECTION_SIZE=
QDRANT_API_KEY=
QDRANT_PORT=
QDRANT_HOST=
QDRANT_URL=

# Email
MAILTRAP_API_KEY=
SMTP_TLS=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
# SMTP_PASSWORD=
EMAILS_FROM_EMAIL=

USERS_OPEN_REGISTRATION=

SENTRY_DSN=

# Postgres
POSTGRES_SERVER=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# POSTGRES_SERVER=
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=


# PgAdmin
PGADMIN_LISTEN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Frontend
REACT_APP_VERSION=
GENERATE_SOURCEMAP=
BACKEND_URL=