DOMAIN=
FRONTEND_DOMAIN=

# Backend

BACKEND_CORS_ORIGINS=
PROJECT_NAME=
SECRET_KEY=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=
GOOGLE_CLIENT_ID=

# Openai

OPENAI_API_KEY=
OPENAI_ORGANIZATION=

# Qdrant

COLLECTION_NAME=
COLLECTION_SIZE=
QDRANT_API_KEY=
QDRANT_PORT=
QDRANT_HOST=
QDRANT_URL=

# AWS

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# Email

MAILTRAP_API_KEY=
SMTP_TLS=
SMTP_PORT=
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=

USERS_OPEN_REGISTRATION=

# Postgres

POSTGRES_SERVER=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PgAdmin

PGADMIN_LISTEN_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Frontend

REACT_APP_VERSION=
REACT_APP_BACKEND_URL=
REACT_APP_STRIPE_PUBLISHABLE_KEY=
REACT_APP_STRIPE_PRICING_TABLE_ID=

# Stripe

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_SECRET=

# Cron-job (generate a key and store it's hash)

CRON_JOB_SECRET_KEY=
