/* styles.css */

/* .hero-layout {
  background-color: transparent;
} */

text {
  color: red !important;
}

.hero-header {
  height: '12vh';
  background-color: 'transparent';
  display: 'flex';
  align-items: 'center';
  justify-content: 'space-between';
}

.hero-logo {
  width: '10em';
}

.hero-buttons-container {
}

.hero-about-button {
}

.hero-cta-button {
}

/* @media (max-width: 767px) {
} */
